# Data wrangling - Exploritory Data Analysis
### Most in demand data skills.
This notebook will wrangle the raw data produced by the webscraper.
The aim will be to take the data produced by the webscraper and  format it into a single csv file for further processing.

In [1]:
import numpy as np
import pandas as pd
import re  
import os 
import popular_data_skills.config.config as config

We will find all the files saved in scraped data and read them into a csv file.

In [2]:
# Get all files in data file folder 
file_list = os.listdir(config.SCRAPED_DATA_FOLDER)

# Loop through files and concat to create one large data frmae. 
df = pd.DataFrame()
for file in file_list:
    csv_file = config.SCRAPED_DATA_FOLDER + '\\' + file 
    temp_df = pd.read_csv(csv_file)
    df = pd.concat([df, temp_df],ignore_index=True) 
df.head(3)

,Unnamed: 0,job_title,company_name,location,work_type,date_posted,applicant_count,level,company_info,job_description_lines,country,job
0,0,"('DIGITAL DATA ANALYST - REMOTE',)","('Harnham',)","('London, England, United Kingdom',)","('Remote',)","('5 days ago',)","('25 applicants',)","('1 school alumni',)",('See how you compare to 25 applicants. Retry ...,"\nDIGITAL DATA ANALYST\n\nREMOTE\n\n£50,000 - ...",uk,analyst
1,1,"('DIGITAL DATA ANALYST - REMOTE',)","('Harnham',)","('London, England, United Kingdom',)","('Remote',)","('5 days ago',)","('25 applicants',)","('1 school alumni',)",('See how you compare to 25 applicants. Retry ...,"\nDIGITAL DATA ANALYST\n\nREMOTE\n\n£50,000 - ...",uk,analyst
2,2,"('Work from Home Opportunity | Data Analyst',)","('TELUS International AI Data Solutions',)","('London Area, United Kingdom',)","('Remote',)","('3 weeks ago',)",NaN,"('',)","('Actively recruiting',)",\nTELUS International AI-Data Solutions partne...,uk,analyst

First we can drop the unnamed column.   
Then we will check to see some basic info about the df.

In [3]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
# Look at dtypes and NANS
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3723 entries, 0 to 3722
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title              3723 non-null   object
 1   company_name           3723 non-null   object
 2   location               3723 non-null   object
 3   work_type              3723 non-null   object
 4   date_posted            3723 non-null   object
 5   applicant_count        2738 non-null   object
 6   level                  3723 non-null   object
 7   company_info           3723 non-null   object
 8   job_description_lines  3711 non-null   object
 9   country                3723 non-null   object
 10  job                    3723 non-null   object
dtypes: object(11)
memory usage: 320.1+ KB

In [5]:
df.describe(include='all')

,job_title,company_name,location,work_type,date_posted,applicant_count,level,company_info,job_description_lines,country,job
count,3723,3723,3723,3723,3723,2738,3723,3723,3711,3723,3723
unique,1422,659,450,1,54,183,490,252,1622,2,2
top,"('Data Analyst',)","('Varsity Tutors, a Nerdy Company',)","('United States',)","('Remote',)","('1 week ago',)","('1 applicant',)","('',)","('',)",\nCurrent Employees\n\nIf you are a current em...,usa,scientist
freq,294,514,817,3723,796,179,478,2071,290,2723,2474

There are some columns we can remove due to unuseful data
- work_type has remote in every entry
- level and company info don't have any usefull data

In [6]:
# Drop unusefule columns 
df.drop(['work_type', 'level','company_info'], axis=1, inplace=True)
df.head()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
0,"('DIGITAL DATA ANALYST - REMOTE',)","('Harnham',)","('London, England, United Kingdom',)","('5 days ago',)","('25 applicants',)","\nDIGITAL DATA ANALYST\n\nREMOTE\n\n£50,000 - ...",uk,analyst
1,"('DIGITAL DATA ANALYST - REMOTE',)","('Harnham',)","('London, England, United Kingdom',)","('5 days ago',)","('25 applicants',)","\nDIGITAL DATA ANALYST\n\nREMOTE\n\n£50,000 - ...",uk,analyst
2,"('Work from Home Opportunity | Data Analyst',)","('TELUS International AI Data Solutions',)","('London Area, United Kingdom',)","('3 weeks ago',)",NaN,\nTELUS International AI-Data Solutions partne...,uk,analyst
3,"('Online Data Analyst',)","('TELUS International AI Data Solutions',)","('Greater Cheshire West and Chester Area',)","('1 week ago',)","('85 applicants',)",\nTELUS International AI-Data Solutions partne...,uk,analyst
4,"('Online Data Analyst',)","('TELUS International AI Data Solutions',)","('Wolverhampton, England, United Kingdom',)","('1 week ago',)","('57 applicants',)",\nTELUS International AI-Data Solutions partne...,uk,analyst

Next:
- All values are in tuples
- Change dtype of applicants to int   
- Look at duplicate entires from spamming companies (companies that send the same job post to multiple locations)
- There are many Nans in in the applicants cloumn but we won't need that right now. 
- We will have a look at the job_description column to see any NaNs

In [7]:
# Remove df values from tuples 
columns = list(df.columns)
for column in columns:
    df[column] = df[column].apply(lambda x: re.sub(r"[('|',)]", '', str(x)))

In [8]:
# Remove 'applicants' string from applicant_count column
df = df.astype(str)
df['applicant_count'] = df['applicant_count'].apply(lambda x : re.sub(r" applicants", '', str(x)))

# Change strings to floats
df['applicant_count'] = pd.to_numeric(df['applicant_count'], errors='coerce')    
df.head()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
0,DIGITAL DATA ANALYST - REMOTE,Harnham,London England United Kingdom,5 days ago,25.0,\nDIGITAL DATA ANALYST\n\nREMOTE\n\n£50000 - £...,uk,analyst
1,DIGITAL DATA ANALYST - REMOTE,Harnham,London England United Kingdom,5 days ago,25.0,\nDIGITAL DATA ANALYST\n\nREMOTE\n\n£50000 - £...,uk,analyst
2,Work from Home Opportunity Data Analyst,TELUS International AI Data Solutions,London Area United Kingdom,3 weeks ago,NaN,\nTELUS International AI-Data Solutions partne...,uk,analyst
3,Online Data Analyst,TELUS International AI Data Solutions,Greater Cheshire West and Chester Area,1 week ago,85.0,\nTELUS International AI-Data Solutions partne...,uk,analyst
4,Online Data Analyst,TELUS International AI Data Solutions,Wolverhampton England United Kingdom,1 week ago,57.0,\nTELUS International AI-Data Solutions partne...,uk,analyst

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3723 entries, 0 to 3722
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_title              3723 non-null   object
 1   company_name           3723 non-null   object
 2   location               3723 non-null   object
 3   date_posted            3723 non-null   object
 4   applicant_count        2559 non-null   float64
 5   job_description_lines  3723 non-null   object
 6   country                3723 non-null   object
 7   job                    3723 non-null   object
dtypes: float64(1), object(7)
memory usage: 232.8+ KB

Next we can deal with duplicate post that might skew the results.  
- First companies reposting job posts after a while.   
- Spamming companies posting the same job post to variuos locatioin for better search rankings   
- We scraped multiple search queries that are very similar. There a good chance search queires would pick up duplicate results.

In [10]:
# Convert all the strings to lower case to improve searches 
columns_lower = df.columns != 'applicant_count'
df.loc[:,columns_lower] = df.loc[:,columns_lower].applymap(lambda x: x.lower())


# Delete any reposted jobs entries with the same title and same company name
df.drop_duplicates(subset=['job_title', 'company_name'], inplace=True,ignore_index=True)

df.tail()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
1530,machine learning engineer,fiscalnote,washington dc,1 week ago,7.0,\nabout this position\n\nat fiscalnote we buil...,usa,scientist
1531,software engineer,yahoo,united states,2 weeks ago,24.0,\n it takes powerful technology t...,usa,scientist
1532,java full-stack developer__md,dice,united states,22 hours ago,8.0,\n dice is the leading career des...,usa,scientist
1533,full stack javascript engineer,dice,united states,1 month ago,15.0,\n dice is the leading career des...,usa,scientist
1534,.netcore sitefinity developers,dice,united states,3 hours ago,NaN,\n dice is the leading career des...,usa,scientist

In [11]:
# Check for duplicated job descriptions
total_job_des = len(df['job_description_lines'])
unique_job_des = len(df['job_description_lines'].unique())
print(f'Duplicated job descriptions: {total_job_des - unique_job_des}')

Duplicated job descriptions: 17

In [12]:
# Drop any duplicated job descriptions
df.drop_duplicates('job_description_lines', inplace=True, ignore_index=True)
df.tail()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
1513,machine learning engineer,fiscalnote,washington dc,1 week ago,7.0,\nabout this position\n\nat fiscalnote we buil...,usa,scientist
1514,software engineer,yahoo,united states,2 weeks ago,24.0,\n it takes powerful technology t...,usa,scientist
1515,java full-stack developer__md,dice,united states,22 hours ago,8.0,\n dice is the leading career des...,usa,scientist
1516,full stack javascript engineer,dice,united states,1 month ago,15.0,\n dice is the leading career des...,usa,scientist
1517,.netcore sitefinity developers,dice,united states,3 hours ago,NaN,\n dice is the leading career des...,usa,scientist

Next we will look at the number of posts per company to look for possible spam posts.

In [13]:
df['company_name'].value_counts()

varsity tutors a nerdy company    411
dice                              130
remoteworker uk                    74
jobs via efinancialcareers         10
frontiers                          10
                                 ...
staffgroup uk & europe              1
climax studios                      1
adaptavist                          1
xero                                1
yahoo                               1
Name: company_name, Length: 656, dtype: int64

Varisty Tutors has a larger number of posts than other companies. Tutors in the name also raises some suspicions that deserve a closer look.

In [14]:
# view individual descriptions to look for similarities 
spam_comp_df = df[df['company_name'] == 'varsity tutors a nerdy company']

# Seems to be different posting from an agency lets check the job titles and manually scroll through some of the descriptions 
total_job_titles = len(spam_comp_df['job_title'])
unqiue_job_titles = len(spam_comp_df['job_title'].unique())
print(f'Duplicated job titles: {total_job_des - unique_job_des}')

Duplicated job titles: 17

In [15]:
# As the descriptions are long a difficult to read in a dataframe we can access individual directly to read manually to check for any signs of duplication
# Change the row integer for different descriptions
print(f"Description 1 :\n {spam_comp_df.iloc[1]['job_description_lines']}\n\n")
print(f"Description 2 :\n {spam_comp_df.iloc[2]['job_description_lines']}")

Description 1 :

virginia beach data analysis tutor jobs

the varsity tutors platform has thousands of students looking for online data analysis tutors nationally and in virginia beach. as a tutor who uses the varsity tutors platform you can earn good money choose your own hours and truly make a difference in the lives of your students.

why join our platform?
enjoy competitive rates and get paid 2x per week.choose to tutor as much or as little as you want.set your own hours and schedule.get paired with students best-suited to your teaching style and preferences from thousands of potential clients.tutor online i.e. “work remotely” using our purpose-built live learning platform.students can take adaptive assessments through the platform and share results to help you decide where to focus.we collect payment from the customers so all you have to do is invoice the session.
what we look for in a tutor
you have excellent communication skills and a friendly approachable personality.you can show subject-matter expertise in data analysis.you have the ability to personalize lessons for each student.
discover all the ways you can reach students through the online platform:
1-on-1 online tutoring: connect with an individual student for a highly personalized learning experience.small group classes: meet with small groups typically 7-9 students for a more collaborative learning experience.vt+ classes: teach groups of 25-30 students anything from math fundamentals to video game design.large live classes: share your knowledge with hundreds of students at a time.school@home: provide support for homeschooling parents with 1-on-1 online tutoring and small group classes.instant tutoring: accept subject specific on-demand tutoring sessions whenever you’d like.
about varsity tutors and 1-on-1 online tutoring

our mission is to transform the way people learn. we do this by leveraging advanced technology ai and the latest in learning science to facilitate a personalized learning experience. with 1-on-1 online tutoring individual students are connected with tutors for a highly personalized learning experience. we believe our thoughtful approach to matching students with the right tutors can improve outcomes and we look forward to connecting you with students hungry to learn.

please note: varsity tutors does not contract in: alaska california delaware hawaii maine new hampshire north dakota vermont west virginia or puerto rico.



Description 2 :

jersey city data analysis tutor jobs

the varsity tutors platform has thousands of students looking for online data analysis tutors nationally and in jersey city. as a tutor who uses the varsity tutors platform you can earn good money choose your own hours and truly make a difference in the lives of your students.

why join our platform?
enjoy competitive rates and get paid 2x per week.choose to tutor as much or as little as you want.set your own hours and schedule.get paired with students best-suited to your teaching style and preferences from thousands of potential clients.tutor online i.e. “work remotely” using our purpose-built live learning platform.students can take adaptive assessments through the platform and share results to help you decide where to focus.we collect payment from the customers so all you have to do is invoice the session.
what we look for in a tutor
you have excellent communication skills and a friendly approachable personality.you can show subject-matter expertise in data analysis.you have the ability to personalize lessons for each student.
discover all the ways you can reach students through the online platform:
1-on-1 online tutoring: connect with an individual student for a highly personalized learning experience.small group classes: meet with small groups typically 7-9 students for a more collaborative learning experience.vt+ classes: teach groups of 25-30 students anything from math fundamentals to video game design.large live classes: share your knowledge with hundreds of students at a time.school@home: provide support for homeschooling parents with 1-on-1 online tutoring and small group classes.instant tutoring: accept subject specific on-demand tutoring sessions whenever you’d like.
about varsity tutors and 1-on-1 online tutoring

our mission is to transform the way people learn. we do this by leveraging advanced technology ai and the latest in learning science to facilitate a personalized learning experience. with 1-on-1 online tutoring individual students are connected with tutors for a highly personalized learning experience. we believe our thoughtful approach to matching students with the right tutors can improve outcomes and we look forward to connecting you with students hungry to learn.

please note: varsity tutors does not contract in: alaska california delaware hawaii maine new hampshire north dakota vermont west virginia or puerto rico.

From looking at the varsity tutors company there are a lot of posts that are very simialr but just have different locations. This looks like spamming but we know the job descriptions are different. Theres are also a lot of tutoring jobs that don't relflect what we are looking for. There are also no appilcants

These descriptions are extremely similar with key words changed. We will remove this company from our data set.

In [16]:
# Remove enties from varisity tutors 
df = df[df['company_name'] != 'varsity tutors a nerdy company']
df.head()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
0,digital data analyst - remote,harnham,london england united kingdom,5 days ago,25.0,\ndigital data analyst\n\nremote\n\n£50000 - £...,uk,analyst
1,work from home opportunity data analyst,telus international ai data solutions,london area united kingdom,3 weeks ago,NaN,\ntelus international ai-data solutions partne...,uk,analyst
2,online data analyst,telus international ai data solutions,greater cheshire west and chester area,1 week ago,85.0,\ntelus international ai-data solutions partne...,uk,analyst
3,data analyst,ovo,united kingdom,3 weeks ago,18.0,\nlocation - flexible\n\nwe’re making zero car...,uk,analyst
4,part-time online data analyst,telus international ai data solutions,hampshire england united kingdom,3 weeks ago,136.0,\ntelus international ai-data solutions partne...,uk,analyst

In [17]:
# view individual descriptions to look for similarities 
spam_comp_df = df[df['company_name'] == 'dice']
print(f"Description 1 :\n {spam_comp_df.iloc[1]['job_description_lines']}\n\n")
print(f"Description 2 :\n {spam_comp_df.iloc[2]['job_description_lines']}")

Description 1 :

              dice is the leading career destination for tech experts at every stage of their careers. our client ipivot llc is seeking the following. apply via dice today!

greetings

hope you are doing well.

we have an urgent requirement with our direct clients please go through the job details and let us know if you are interested do send us your updated resume and contact details

 data analyst with bsa

location: remote

contract length: 24+ months

rates are $ open

 location at princeton  nj

"strong in:

data analyst with bsa
 provided by dice





Description 2 :

              dice is the leading career destination for tech experts at every stage of their careers. our client margin5 solutions inc is seeking the following. apply via dice today!

title- data analyst

location- remote

required:
bachelor’s degree required in computer science statistics or equivalent work experience1-3 years working experience using microsoft reporting tools and technologies including sql server ssrs power bi data modeling and report developmentexperience to query from oracle enterprise databases or sql server database

preferred:
open-minded and willing to learn innovative technologiesgreat trouble shooting skillsknowledge with azure sql database and managed instance - provided by dice

Other companies have very different job descriptions and look like 
genuine companies.

## Removing unwanted job roles and updating roles  
There are many unwanted job roles like software engineer that we don't want. Data analyst and data scientist are similar fields so both roles show up in either search. To solve this we will search job titles to define roles.

In [18]:
# Create a filter df with keywords in the title and a df with all other entries. 
analyst_words = ['analytics', 'analyst', 'analysis' ]
matches_regex = "|".join(analyst_words)
mask = df['job_title'].str.contains(matches_regex, regex=True)
analyst_df = df[mask].copy()
not_analyst_df = df[~mask]
analyst_df.head()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
0,digital data analyst - remote,harnham,london england united kingdom,5 days ago,25.0,\ndigital data analyst\n\nremote\n\n£50000 - £...,uk,analyst
1,work from home opportunity data analyst,telus international ai data solutions,london area united kingdom,3 weeks ago,NaN,\ntelus international ai-data solutions partne...,uk,analyst
2,online data analyst,telus international ai data solutions,greater cheshire west and chester area,1 week ago,85.0,\ntelus international ai-data solutions partne...,uk,analyst
3,data analyst,ovo,united kingdom,3 weeks ago,18.0,\nlocation - flexible\n\nwe’re making zero car...,uk,analyst
4,part-time online data analyst,telus international ai data solutions,hampshire england united kingdom,3 weeks ago,136.0,\ntelus international ai-data solutions partne...,uk,analyst

Let's check the job titles we have filtered out to make sure we aren't missing any key words

In [19]:
not_analyst_df['job_title'].unique()

array(['oracle data engineer', 'dba/ data engineer',
       'threat data engineer', 'data migration specialist',
       'ipsoft developer', 'data engineer', 'junior tableau developer',
       'technical lead - data engineering', 'netsuite developer',
       'azure data engineer',
       'sql server developer - remote - £70k / £80k',
       'data engineer remote', 'data warehouse engineer',
       'shopify developer',
       'devsecops engineer - security and data governance us remote',
       'freelance associate database programmer remote',
       'systems engineer', 'netsuite developer remote',
       'systems engineer - #665', 'data engineer - hatfield/remote',
       'data engineer  remote  68k - 103k eur + 12% bonus per annum',
       'multiple junior devs php laravel - remote - £35000 doe',
       'database engineer',
       'systems engineer – unsociable hours – remote - msp - £40-45k',
       'data engineer/ sql developer', 'rust developer remote',
       'golang developer  inside ir35  remote  6 months+',
       'sql developer - manchester / remote',
       'associate systems engineer',
       'sql and python data engineer - uk - remote role - candidates in uk only',
       'developer revenue systems',
       'data engineer - remote - £55k - £65k', 'data migration engineer',
       'linux systems engineer', 'linux engineer',
       'oracle apex developer', 'graduate data infrastructure engineer',
       'jda developer remote',
       'data engineer devops – 100% remote – up to £70k',
       'ethereum core developer', 'data engineer - remote',
       'data engineer datafactory + sql paas - fully uk remote - inside ir35 - uk fully remote',
       'wherescape developer - remote', 'digital tagging engineer',
       'data engineer - remote - £65000', 'blockchain engineer solidity',
       'sql developer sql server t-sql - remote', 'system engineer',
       'system engineeruk- remote', 'macos systems engineer remote gbr',
       'm365 developer',
       'support developer c# sql nottingham / remote £40k - £50k',
       'salesforce release engineer remote / flexible',
       'salesforce developer', 'enterprise linux engineer',
       'deployment engineer - medical systems - uk remote',
       'visualfiles developer fully remote',
       'sql developer remote working', 'remote xamarinc developer',
       'migrations engineer', '365 developer',
       'data engineer - fully remote - uk wide',
       'data engineer for growth', 'active directory / identity engineer',
       'data engineer msbi azure',
       'data engineer- azure power bi or sql. 80% remote. £65k-£80k!',
       'golang developer - £65000 plus package & remote working',
       'intersystems caché / ensemble / healthshare developer - uk',
       'qa engineer - data', 'drupal developer', 'cloudops engineer',
       'enterprise artificial intelligence ai- support engineer',
       'systems engineer - sre - aws - windows - linux - £60k - uk remote',
       'data engineer scala - remote', 'junior implementation engineer',
       'mysql database developer - £75k - remote',
       'data engineer / machine learning engineer',
       'systems engineer-kofax support-uk remote',
       'laravel developer remote', 'data engineer - platform',
       'flutter developer at aime',
       'roblox developer freelancer - remote',
       'sql developer. remote. ftse 100 business.',
       'blockchain developer', 'backend engineer - remote optional',
       'javascript/nodejs backend developer - remote working',
       'remote senior graphics programmer – independant uk games developer/publisher',
       'frontend engineer open to uk remote',
       'javascript/nodejs developer - remote working - uk based',
       'fullstack engineer ruby / react remote', 'frontend developer',
       'backend engineer python', 'devops engineer remote',
       'frontend developer  remote london  £80000 + benefits',
       'engine programmer – c++ – pc and console – uk – remote',
       'full stack sitecore developer',
       'site reliability engineer - data engineering',
       'remote front-end developer', 'cloud engineer',
       'c# developer - remote / sql / backend / unit testing',
       'ruby on rails developer - social media client - fully remote',
       'customer engineer',
       'analista de dados - são paulo - salvador - goiânia - rio de janeiro - belo horizonte - home office',
       'entry-level en-us data evaluator in wa usa',
       'remote - data labeler', 'data scientist remote',
       'data scientist - growth', 'data scientist - growth strategy',
       'data scientist natural language processing', 'data scientist',
       'data scientist hybrid remote friendly',
       'data scientist - fully remote', 'data scientist uk / eu',
       'data scientist growth marketing',
       'principal data scientist - remote uk',
       'full stack data scientist remote',
       'service operations data scientist - #963',
       'data scientist deep learning', 'senior data scientist',
       'machine learning engineer', 'unity developer',
       'full-stack developer – remote- interesting software – up to £38000',
       'software development engineer - graduate 2021/2022 trilogy remote - $60000/year usd',
       'frontend developer- innovative start-up- remote',
       'full stack developer',
       'fullstack developer - angular - .net core - inside ir35 - remote',
       'full stack engineer', 'full stack engineer - remote',
       'software developer - all levels remote working',
       'full stack engineer - digital workplace',
       'python developer trilogy remote - $200000/year usd',
       'frontend engineer react  6 month contract  £450 per day – outside ir35 - remote',
       'software engineer - swift / ios', 'unity developer remote',
       'junior software developer',
       'full stack developer .netc#react - remote',
       'c++ developer gfi software remote - $60000/year usd',
       'full stack developer- innovative start-up- remote',
       'full stack software engineer - .net - remote',
       'fullstack engineer', 'ios developer',
       'a.i. programmer fully remote multiple roles',
       'frontend developer remote £40000 - £50000',
       'software engineer - python / django / react',
       'full stack engineer node.js – outside ir35 – fully remote',
       'full stack software engineer - remote',
       'frontend engineer - react - remote', 'software engineer c# .net',
       'c# developer gt.school remote - $80000/year usd',
       'mobile developer flutter',
       'front end developer healthtech-angularjs-fully remote',
       'golang engineer remote',
       'full stack engineer innovation labs australia',
       'software engineer - fintech - remote',
       'full stack developer - £650pd inside ir35 - remote',
       'angularjs 9+ frontend developer – ai/ml fintech – contract uk / remote',
       'software engineer - mental health/fitness - fully remote',
       'full stack developer - remote',
       'developer - full stack angular / c#', 'senior unity developer',
       'full stack engineer telcodr remote - $80000/year usd',
       'full stack developer c# .net angular remote up to £45k',
       'full-stack software engineer - remote optional',
       'junior backend software engineer',
       'software developer c# .net  uk based  remote option',
       'data science lead',
       'angularjs 9+ frontend developer – ai/ml fintech uk / remote',
       'software engineer - data visualization',
       'full stack developer - react / php / wordpress- fully remote',
       'software engineer - ios',
       'software engineer ai governance - london or remote uk',
       'software engineer viator - remote',
       'developers - c# - all levels from developer to lead developer uk fully remote £30k to £60k',
       'senior clojure ui developer', 'software engineer',
       'full stack developer - uk remote - £65000 plus package',
       'software engineer - mobile sdk ios',
       'software engineer rapid nlp prototyper',
       'software engineer mid level', 'fully remote full stack developer',
       'full stack integration developer',
       'front end developer - react - remote - £80000',
       'full-stack engineer',
       'full-stack developer c# .net azure - £60k - fully remote',
       'front end developer',
       'software engineer - fully remote - glasgow',
       'dotnet developer telcodr remote - $80000/year usd',
       'software developer', 'dotnet developer',
       'c wpf developer work from home',
       'developer trilogy remote - $60000/year usd',
       'full stack developer fully remote uk',
       'front end react developer',
       'software engineer - quant / research - £200000 - london / remote',
       'senior data science - uk - remote options',
       'fullstack django/python engineer – remote within the uk - £75000 - £100000',
       'front-end developer – angular/typescript – remote',
       'frontend developer - react redux typescript remote',
       'gameplay engineer', 'library software engineer - .net / c#',
       'full stack .net/react developer - £50000 - £60000 - hybrid',
       'library software engineer - ruby', 'frontend engineer',
       'react developer - remote - £500/£525 a day outside ir35',
       'python engineer - remote', 'software engineer – uk-based remote',
       '£85k fully remote software engineer',
       'android developer – fully remote global cosmetics',
       'backend engineer',
       'tools programmer – c# – pc and console – uk – remote',
       'r&d software engineer',
       'software engineer - ios /macos platform automation m/w/x',
       'backend engineer - personalization', 'graduate software engineer',
       'software developer - uk fully remote', 'developer',
       'sr. ui engineer remote', 'software engineer backend',
       'software engineer - python - remote',
       'gcp engineer  uk based - remote',
       'software engineer - full stack - terraform ecosystem strategic integrations',
       'graduate developer - remote', 'senior ios developer',
       'backend engineer – c#/unity – mobile games – uk – remote',
       'data engineer__100% remote',
       'part-time junior data scientist remote with security clearance',
       'data scientist - remote', 'python developer',
       'data scientiest remote', 'data engineer trainee',
       'data scientist - 100% remote',
       'data scientist  initial remote  full time',
       'machine learning engineer- 100% remote',
       'data scientist remote in arizona',
       'remote - python developers- entry level',
       'data scientist: remote role/100% telecommute',
       'python developer // remote 100% // contract on w2',
       'us rater - w2remote', 'data scientist creator promotion',
       'engineering internship', 'data scientist - healthcare',
       'remote staff data scientist marketing',
       'remote staff data scientist partnerships', 'data scientist ii',
       'data scientist ii remote', 'entry level data scientist remote',
       'data scientist - remote!', 'data science intern',
       'data scientist spotify for artists',
       'remote sensing data scientist satellite imagery',
       'data scientist international payments', 'data scientist i remote',
       'principal data scientist - global remote',
       'data scientist spotify advertising',
       'associate data scientist sustainability',
       'highjump developer__100% remote', 'data scientist i part-time',
       'data scientist- remote',
       'data scientist - remote work - ai fintech',
       'health care data scientist',
       'data scientist- supply chain- remote', 'data scientist-2',
       'ai developer - full time/direct hire - w2 only - remote',
       'jr. data scientist remote eligible', 'python developer remote',
       'data scientist - fraud', 'data scientist 2 - fraud - remote',
       'data scientist - freemium innovation', 'staff data scientist',
       'remote python developer urgently seeking',
       'data scientist @ remote',
       'data scientist mid-level- remote flexibility',
       'data scientist consultant i - finance remote home-based worker',
       'data scientist local or remote', 'healthcare data scientist',
       'data scientist - work from home',
       'python developer - 100% remote',
       'data scientist remote option 219282',
       '[remote] data scientist - professional sports teams are your clients!',
       'data scientist marketing & online remote',
       'associate data scientist', 'data scientist - july 2022',
       'ai/ml data scientists open to remote', 'security data scientist',
       'principal specialist data scientist- 100% remote !!',
       'junior java developer / entry level java developer',
       'principal data scientist marketing measurement & attribution',
       'data scientist junior', 'databricks/python/aws developers',
       'staff data scientist advertising sales and operations',
       'data scientist - risk', 'data scientist 100% remote',
       'data scientist - operations research cplex/gurobi - remote',
       'python engineer',
       'software engineer - machine learning--remote--6 months c2h',
       'python developer--- full time---- initial remote',
       'business data scientist - remote',
       'staff data scientist - forecasting remote',
       'entry level software engineer', 'data scientist - us remote',
       'data scientist iii remote work eligible r0017846',
       'data scientist- boston or remote', 'data scientist safe haven',
       'data scientist i', 'data scientist consultant',
       'data scientist::fully remote job role', 'product data scientist',
       'python dveloper', 'data scientist i remote medicare advantage',
       'data scientist 2', 'python developer - remote / telecommute',
       'data scientist computer vision',
       'staff data scientist applied science education',
       '0→1 gaming data scientist', 'consulting data scientist remote',
       'software quality engineering intern',
       'data scientist remote us-based', 'data scientist ms/phd remote',
       'principal data scientist', 'staff data scientist - remote',
       'data scientist - telecommute within worcester ma',
       'python engineer remote even after covid',
       'python engineer remote',
       'data scientist: real-time credit & insights remote',
       'principal data scientist search and personalization 14498 - seattle remote',
       'digital data scientist - orlando fl remote',
       'data scientist sales support remote us-based',
       'computer vision engineer', 'data scientist remote - phd',
       'python developer  100% remote  one round of interview only  $70-90/hr on w2',
       'data scientist iii - remote',
       'principal data scientist - telecommute',
       'data science lead - remote', 'market research data scientist',
       'jr. java developer', 'commercial data scientist',
       'aviation safety data scientist', 'wodm developer',
       'cientista de dados', 'data scientist 3',
       'us rater - russian language - w2remote', 'python programmer',
       'data scientist product', 'data scientist nc',
       'data scientist - operations research',
       'pricing data scientist - remote',
       'principal data scientist - #11619', 'customer data scientist',
       'data scientist opco creation', 'data scientist - remote role',
       'associate software engineer "remote"',
       'direct end client - data engineer 100% remote work',
       'pm with mobile development ios and android - san francisco ca remote',
       'remote - data scientist python pandas up to $165k base+bonus',
       'junior machine learning cloud operations data scientist',
       'data scientist i - 637', 'remote data scientist',
       'healthcare data scientist - telecommute',
       'java with python egineers',
       'data scientist for remote location fulltime',
       'environmental data scientist- remote', 'data scientist crypto',
       'data scientist - marketing - remote',
       'junior data scientist remote', 'data scientist iii',
       'data scientist voice',
       'data scientist - internet scale adtech data - remote',
       'data scientist engagement & experimentation',
       'raqa data scientist',
       'principal data scientist search and personalization 14498 - san francisco remote',
       'data scientist - marketing', 'ml/data scientist remote',
       'computer vision engineer - slam - social good vr startup',
       'data scientist remote with security clearance', 'data science',
       'remote role - data warehouse engineer',
       't&d data scientist mid-level or senior portland or remote work available - 108099',
       'data modeler', 'jr. java v.11 developer associate- remote',
       'artificial intelligence/ machine learning engineer 100% remote!!!',
       'data scientist with expereince in bayesian networks - october 2021',
       'automation qa engineer-md remote',
       'java developer with python and aws  100% remote',
       'data scientist/machine learning engineer remote',
       'test automation engineer - 100% remote',
       'product data scientist ny',
       'application engineer - entry professional',
       'machine learning developer', 'sql developer - 100% remote',
       'data scientist - remote - $143.5k',
       'consultor data science - home office',
       'junior level java developer', 'data engineer/data scientist',
       'it intern - software developer remote', 'agile data scientist',
       'data scientist - learning and development coach',
       'data scientist i/ii',
       'internet/web engineer remote option available',
       '100% remote role: looker developer', 'test automation engineers',
       'job alert: data scientist with ml  100% remote',
       'interactive developer- remote',
       'data scientist insights payments intelligence',
       'data scientist - ml aws and data concepts',
       '100% remote - web developer', 'jr. tm1 developer',
       'python data engineer', 'data science lead us',
       'data scientist text mining - july 2021', 'srjava/scaladeveloper',
       'data scientist staff', 'python airflow engineer - 100% remote',
       'python quant developer- full-stack macro javascript',
       'fully remote c++ engineer to build trading applications up to 120 per hour',
       'principal data scientist - remote',
       'remote back end engineer- python and aws',
       'data scientist for market intelligence',
       'remote machine learning engineer',
       'part-time junior data scientist remote',
       'remote - data scientist',
       'data scientist - personalization knowledge',
       'data scientist remote optional',
       'data scientist sas is must remote',
       'data scientist - major entertainment company - remote',
       'remote data scientist credit risk', 'data scientist r-11547',
       'data scientist - nlp', 'data scientist us remote',
       'data scientist - talent network',
       'data scientist 2 - styling & core services',
       'data scientist various levels - remote',
       'c++ software developer - work from home - m',
       'full stack engineer remote',
       'machine learning - austin tx remote until covid',
       'entry-level software developer-not a remote position',
       'java developer 100% remote',
       'machine vision engineer remote - mn', 'software engineer remote',
       'python programmer remote',
       'software engineer - python - optimise ubuntu for public clouds',
       'software engineer - machine learning', 'google ccai developer',
       'software engineer i', 'full stack java developer',
       'entry level data scientist',
       'entry-level software/data specialist',
       'gis - geospatial data engineer remote', 'inpatient drg coder',
       'gis engineer remote',
       'tech start-up – react engineers - opensource – 100% remote',
       'web developer', 'language engineer', 'data modeler remote',

It seems we haven't missed many analytics roles so we will move to the next role.

In [20]:
# Filtering for scientist jobs 
scientist_words = ['science','scientist','scientiest','machine learning']
matches_regex = "|".join(scientist_words)
mask = df['job_title'].str.contains(matches_regex, regex=True)
scientist_df = df[mask].copy()
not_scientist_df = df[~mask]

scientist_df.tail()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
1496,data scientist,bitsight,boston ma,1 month ago,10.0,\n bitsight is looking for data s...,usa,scientist
1498,data scientist,pandadoc,united states,19 hours ago,143.0,\n your role as the data scientis...,usa,scientist
1499,data scientist,liberty mutual insurance,united states,4 days ago,123.0,\nadvance your data science career at liberty ...,usa,scientist
1501,full stack developer data scientist,asrc federal,united states,1 month ago,5.0,\n asrc federal is seeking a full...,usa,scientist
1513,machine learning engineer,fiscalnote,washington dc,1 week ago,7.0,\nabout this position\n\nat fiscalnote we buil...,usa,scientist

In [21]:
# Manually check to see if we have missed any roles
not_scientist_df['job_title'].unique()

array(['digital data analyst - remote',
       'work from home opportunity  data analyst', 'online data analyst',
       'data analyst', 'part-time online data analyst',
       'part-time job opportunity  data analyst',
       'data analyst - home working remote',
       'work from home opportunity in the uk as data analyst',
       'data analyst - uk mostly remote', 'data analyst- ni remote',
       'project data analyst', 'google data analyst',
       'revenue data analyst', 'game data analyst',
       'junior data analyst nix & kix - kickstarter *',
       'data analyst build infrastructure',
       'data quality analyst - 12 month contract - remote working',
       'data analyst inventory partnerships uk', 'product data analyst',
       'salesforce data analyst',
       'data analyst sql end user remote  £45k',
       'data analyst graduate career accelerator',
       'data insight analyst - green energy giant - london & remote -',
       'performance data analyst', 'data quality analyst',
       'data insights analyst',
       'data quality analyst  national end user  £45000',
       'data analyst - marketing',
       'technical data analyst/ developer - fully remote',
       'support analyst sql - remote', 'data & insight analyst',
       'insights analyst remote',
       'analytics engineer pharma/batch - emea',
       'hris/ data analyst platform lead: fully remote',
       'analytics engineer', 'digital analyst - remote working',
       'python analyst', 'oracle data engineer', 'dba/ data engineer',
       'commercial insight analyst',
       'junior data analyst - product lifecycle student placement',
       'threat data engineer', 'data migration specialist',
       'ipsoft developer', 'data engineer', 'junior tableau developer',
       'technical lead - data engineering', 'netsuite developer',
       'azure data engineer',
       'sql server developer - remote - £70k / £80k',
       'data engineer remote', 'data warehouse engineer',
       'shopify developer',
       'devsecops engineer - security and data governance us remote',
       'technical digital analyst',
       'freelance associate database programmer remote',
       'data privacy analyst', 'systems engineer',
       'netsuite developer remote', 'systems engineer - #665',
       'data engineer - hatfield/remote',
       'data engineer  remote  68k - 103k eur + 12% bonus per annum',
       'multiple junior devs php laravel - remote - £35000 doe',
       'insight analyst', 'database engineer',
       'systems engineer – unsociable hours – remote - msp - £40-45k',
       'data engineer/ sql developer', 'rust developer remote',
       'golang developer  inside ir35  remote  6 months+',
       'sql developer - manchester / remote',
       'associate systems engineer',
       'sql and python data engineer - uk - remote role - candidates in uk only',
       'developer revenue systems',
       'data engineer - remote - £55k - £65k', 'data migration engineer',
       'linux systems engineer',
       'agile systems analyst x4 - 100% home based £75k',
       'linux engineer', 'oracle apex developer',
       'graduate data infrastructure engineer', 'jda developer remote',
       'data engineer devops – 100% remote – up to £70k',
       'ethereum core developer', 'data engineer - remote',
       'data engineer datafactory + sql paas - fully uk remote - inside ir35 - uk fully remote',
       'wherescape developer - remote', 'digital tagging engineer',
       'data engineer - remote - £65000', 'blockchain engineer solidity',
       'sql developer sql server t-sql - remote', 'system engineer',
       'system engineeruk- remote', 'macos systems engineer remote gbr',
       'm365 developer',
       'support developer c# sql nottingham / remote £40k - £50k',
       'salesforce release engineer remote / flexible',
       'salesforce developer', 'enterprise linux engineer',
       'deployment engineer - medical systems - uk remote',
       'visualfiles developer fully remote',
       'sql developer remote working', 'remote xamarinc developer',
       'migrations engineer', '365 developer',
       'data engineer - fully remote - uk wide',
       'data engineer for growth', 'active directory / identity engineer',
       'data engineer msbi azure',
       'data engineer- azure power bi or sql. 80% remote. £65k-£80k!',
       'golang developer - £65000 plus package & remote working',
       'intersystems caché / ensemble / healthshare developer - uk',
       'qa engineer - data', 'drupal developer', 'cloudops engineer',
       'enterprise artificial intelligence ai- support engineer',
       'data warehouse/ etl test analyst - fully remote £50000',
       'systems engineer - sre - aws - windows - linux - £60k - uk remote',
       'data engineer scala - remote', 'junior implementation engineer',
       'mysql database developer - £75k - remote',
       'systems engineer-kofax support-uk remote',
       'laravel developer remote', 'data engineer - platform',
       'flutter developer at aime',
       'roblox developer freelancer - remote',
       'sql developer. remote. ftse 100 business.',
       'blockchain developer', 'backend engineer - remote optional',
       'javascript/nodejs backend developer - remote working',
       'remote senior graphics programmer – independant uk games developer/publisher',
       'frontend engineer open to uk remote',
       'javascript/nodejs developer - remote working - uk based',
       'fullstack engineer ruby / react remote', 'frontend developer',
       'backend engineer python', 'devops engineer remote',
       'frontend developer  remote london  £80000 + benefits',
       'engine programmer – c++ – pc and console – uk – remote',
       'full stack sitecore developer',
       'site reliability engineer - data engineering',
       'remote front-end developer', 'cloud engineer',
       'c# developer - remote / sql / backend / unit testing',
       'ruby on rails developer - social media client - fully remote',
       'customer engineer', 'data analyst remote', 'need data analyst',
       'data analyst - fiduciary/trust support remote', 'it data analyst',
       'data analyst gis', 'data analyst - remote',
       'online data analyst - portugal',
       'hiring data analyst  portland or/ remote',
       'data entry/analyst - hybrid remote', 'data analyst - remote az',
       'data analyst 100% remote', 'capstone data analyst',
       'data analyst- fully remote', 'data analyst - full remote',
       'data analyst entry level',
       'data analyst - 100% remote opportunity!',
       'data analyst/ engineer', 'online data analyst - spanish us',
       'data analyst - telecommute', 'data analyst ii remote available',
       'data analyst 5', 'data analyst dc/plano tx-100% remote',
       'data analyst remote - usa', 'orgvue data analyst',
       'data analyst fully remote option', 'data analyst consultant',
       'data analyst with etl & healthcare',
       'online data analyst - czech', 'workday data analyst',
       'data analyst - remote eligible',
       'medicare data analyst - great health organization -100% remote',
       'data analyst - stratascale', 'remote - sas data analyst',
       'data analyst ii', 'data analyst ii - telecommute',
       'data analyst ii - remote', 'online data analyst spanish us role',
       'provider data analyst - remote',
       'data analyst with retail banking',
       'vehicle data analyst - remote', 'data analyst remote!',
       'data analyst supply chain analytics remote',
       'data analyst local or remote', 'prod data structure analyst',
       'analista de dados - são paulo - salvador - goiânia - rio de janeiro - belo horizonte - home office',
       'direct client urgent job opening --product data analyst -- remote',
       'data analytics - remote',
       'information engineer/data threat analyst- 100% remote',
       'healthcare reporting/data analyst v', 'data analytics specialist',
       'image process & algorithms data analyst',
       'entry-level en-us data evaluator in wa usa',
       'job title data/business analyst location remote interview telephonic and video du',
       'data analyst financial services',
       'data & analytics specialist- new year ny remote with intent to return to office',
       'data admin / process analyst', 'graduate intern  data analytics',
       'security data transfer analyst with security clearance',
       'remote - data labeler', 'business data analyst - sfo ca remote',
       'business/data analyst-somerville nj or west chester pa remote to start',
       'danish language data analyst', 'data optimization analyst',
       'unity developer',
       'full-stack developer – remote- interesting software – up to £38000',
       'software development engineer - graduate 2021/2022 trilogy remote - $60000/year usd',
       'frontend developer- innovative start-up- remote',
       'full stack developer',
       'fullstack developer - angular - .net core - inside ir35 - remote',
       'full stack engineer', 'full stack engineer - remote',
       'software developer - all levels remote working',
       'full stack engineer - digital workplace',
       'python developer trilogy remote - $200000/year usd',
       'frontend engineer react  6 month contract  £450 per day – outside ir35 - remote',
       'software engineer - swift / ios', 'unity developer remote',
       'junior software developer',
       'full stack developer .netc#react - remote',
       'c++ developer gfi software remote - $60000/year usd',
       'full stack developer- innovative start-up- remote',
       'full stack software engineer - .net - remote',
       'fullstack engineer', 'ios developer',
       'a.i. programmer fully remote multiple roles',
       'frontend developer remote £40000 - £50000',
       'software engineer - python / django / react',
       'full stack engineer node.js – outside ir35 – fully remote',
       'full stack software engineer - remote',
       'frontend engineer - react - remote', 'software engineer c# .net',
       'c# developer gt.school remote - $80000/year usd',
       'mobile developer flutter',
       'front end developer healthtech-angularjs-fully remote',
       'golang engineer remote',
       'full stack engineer innovation labs australia',
       'software engineer - fintech - remote',
       'full stack developer - £650pd inside ir35 - remote',
       'angularjs 9+ frontend developer – ai/ml fintech – contract uk / remote',
       'software engineer - mental health/fitness - fully remote',
       'full stack developer - remote',
       'developer - full stack angular / c#', 'senior unity developer',
       'full stack engineer telcodr remote - $80000/year usd',
       'full stack developer c# .net angular remote up to £45k',
       'full-stack software engineer - remote optional',
       'junior backend software engineer',
       'software developer c# .net  uk based  remote option',
       'angularjs 9+ frontend developer – ai/ml fintech uk / remote',
       'software engineer - data visualization',
       'full stack developer - react / php / wordpress- fully remote',
       'software engineer - ios',
       'software engineer ai governance - london or remote uk',
       'software engineer viator - remote',
       'developers - c# - all levels from developer to lead developer uk fully remote £30k to £60k',
       'senior clojure ui developer', 'software engineer',
       'full stack developer - uk remote - £65000 plus package',
       'software engineer - mobile sdk ios',
       'software engineer rapid nlp prototyper',
       'software engineer mid level', 'fully remote full stack developer',
       'full stack integration developer',
       'front end developer - react - remote - £80000',
       'full-stack engineer',
       'full-stack developer c# .net azure - £60k - fully remote',
       'front end developer',
       'software engineer - fully remote - glasgow',
       'dotnet developer telcodr remote - $80000/year usd',
       'software developer', 'dotnet developer',
       'c wpf developer work from home',
       'developer trilogy remote - $60000/year usd',
       'full stack developer fully remote uk',
       'front end react developer',
       'software engineer - quant / research - £200000 - london / remote',
       'fullstack django/python engineer – remote within the uk - £75000 - £100000',
       'front-end developer – angular/typescript – remote',
       'frontend developer - react redux typescript remote',
       'gameplay engineer', 'library software engineer - .net / c#',
       'full stack .net/react developer - £50000 - £60000 - hybrid',
       'library software engineer - ruby', 'frontend engineer',
       'react developer - remote - £500/£525 a day outside ir35',
       'python engineer - remote', 'software engineer – uk-based remote',
       '£85k fully remote software engineer',
       'android developer – fully remote global cosmetics',
       'backend engineer',
       'tools programmer – c# – pc and console – uk – remote',
       'r&d software engineer',
       'software engineer - ios /macos platform automation m/w/x',
       'backend engineer - personalization', 'graduate software engineer',
       'software developer - uk fully remote', 'developer',
       'sr. ui engineer remote', 'software engineer backend',
       'software engineer - python - remote',
       'gcp engineer  uk based - remote',
       'software engineer - full stack - terraform ecosystem strategic integrations',
       'graduate developer - remote', 'senior ios developer',
       'backend engineer – c#/unity – mobile games – uk – remote',
       'data engineer__100% remote', 'python developer',
       'data engineer trainee',
       '100% remote - big data analytics engineer immediate need - junior role',
       'remote - python developers- entry level',
       'python developer // remote 100% // contract on w2',
       'us rater - w2remote', 'engineering internship',
       'highjump developer__100% remote',
       'ai developer - full time/direct hire - w2 only - remote',
       'python developer remote',
       'remote python developer urgently seeking',
       'remote - data analyst ii - r4130',
       'python developer - 100% remote',
       'junior java developer / entry level java developer',
       'databricks/python/aws developers',
       'blueplanet inventory data analyst', 'python engineer',
       'python developer--- full time---- initial remote',
       'data analysts - remote', 'entry level software engineer',
       'python dveloper', 'python developer - remote / telecommute',
       'software quality engineering intern',
       'python engineer remote even after covid',
       'python engineer remote',
       'personalization revenue mgmt & analytics internship remote fall 2022',
       'computer vision engineer',
       'python developer  100% remote  one round of interview only  $70-90/hr on w2',
       'data analyst - resource planning - work from home',
       'jr. java developer', 'wodm developer', 'cientista de dados',
       'us rater - russian language - w2remote', 'python programmer',
       'data analyst/ web product analytics',
       'associate software engineer "remote"',
       'direct end client - data engineer 100% remote work',
       'pm with mobile development ios and android - san francisco ca remote',
       'java with python egineers', 'enterprise data analyst',
       'computer vision engineer - slam - social good vr startup',
       'remote role - data warehouse engineer', 'data modeler',
       'jr. java v.11 developer associate- remote',
       'automation qa engineer-md remote',
       'java developer with python and aws  100% remote',
       'test automation engineer - 100% remote',
       'application engineer - entry professional',
       'sql developer - 100% remote', 'junior level java developer',
       'coordinator data administration plan design analyst',
       'it intern - software developer remote',
       'internet/web engineer remote option available',
       '100% remote role: looker developer', 'audit data analyst - staff',
       'test automation engineers', 'interactive developer- remote',
       '100% remote - web developer', 'jr. tm1 developer',
       'python data engineer', 'srjava/scaladeveloper',
       'spatial data analyst', 'python airflow engineer - 100% remote',
       'integrated data analyst- intermediate remote',
       'python quant developer- full-stack macro javascript',
       'fully remote c++ engineer to build trading applications up to 120 per hour',
       'remote back end engineer- python and aws',
       'c++ software developer - work from home - m',
       'full stack engineer remote',
       'entry-level software developer-not a remote position',
       'java developer 100% remote',
       'machine vision engineer remote - mn', 'software engineer remote',
       'python programmer remote',
       'software engineer - python - optimise ubuntu for public clouds',
       'google ccai developer', 'software engineer i',
       'full stack java developer',
       'entry-level software/data specialist',
       'gis - geospatial data engineer remote', 'sql data analyst',
       'inpatient drg coder', 'gis engineer remote',
       'tech start-up – react engineers - opensource – 100% remote',
       'web developer', 'language engineer', 'data modeler remote',
       'survey programmer', 'junior developer',
       'data center market intelligence engineer geographic information system - gis',
       'test engineer', 'data qa engineer consultant remote',
       'data analyst training',
       'data engineer - every 6 - 8 week rotation on weekends telecommute',
       'education data analyst',
       'sql developer - 100% remote - $45-$50 / hr',
       'quantitative data engineer', 'data governance analyst',
       'sas clinical trial programmer ~ remote', 'statistical programmer',
       'qa engineer', 'remote site reliability engineer',
       'data analyst chartis center for rural health',
       'python developer with strong mathematics skills',
       'data analyst – remote or london uk – mobile games',
       'react.js -6 month contract outside ir35 remote',
       'cro analyst - remote', 'football statistician data collection',
       'remote react developer - up to £60k + bonus + benefits!!',
       'survey engineer', 'salesforce developer - global: remote',
       'solidity developer - remote', 'localization engineer',
       'golang engineer infura',
       'react native-6 month contract outside ir35 remote',
       'data engineer / python engineer - remote options',
       'elixir developer - remote',
       'react native developer - remote - contract', 'devops engineer',
       'golang 6 month contract roles  golang  £450-£500/day outside ir35  100% remote',
       'azure cloud engineer remote',
       'salesforce developer - fully remote uk-wide',
       'salesforce developer - remote', 'junior platform engineer',
       'devops engineer uk', 'ruby developer',
       'statistical programmer ii', 'applications engineer remote',
       'kubernetes engineer',
       'data engineer/python engineer - remote options - £75000',
       'devops engineer + sign on bonus',
       'reactjs developer - remote - £40000 - £50000', 'scala developer',
       'devops engineer - remote',
       'powerbi analyst homebased competitive salary benefits',
       'junior developer - remote', 'sas statistical programmer',
       'data infrastructure engineer', 'site reliability engineer remote',
       'automation test engineer', 'ruby on rails developer',
       'c# developer - £75k - mainly remote - en6 potters bar',
       'c# developer - hybrid - fintech - {£50k - £55k + benefits}',
       'multiple back end java developers 90% remote',
       'technical solutions engineer', 'qa engineer quality assurance',

In [22]:
# Use the scientist df to get the subset of jr positions
jr_words = ['jr', 'junior', 'intern']
matches_regex = "|".join(jr_words)
mask = scientist_df['job_title'].str.contains(matches_regex, regex=True)
jr_scientist_df = scientist_df[mask]
scientist_df = scientist_df[~mask]

jr_scientist_df.tail()
len(jr_scientist_df)

10

After a closer look the number of post including junior in the title is not acceptable for further analysis. After continuing exploritory analysis the best way to find acceptable junior roles is through using years of experience explained later in this notebook.

In [23]:
# Change new job values 
scientist_df['job'] = 'scientist'
analyst_df['job'] = 'analyst'

# Concat filtered df into new df 
df = pd.concat([scientist_df, analyst_df],ignore_index=True)
df.head()

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
0,data engineer / machine learning engineer,streamba,glasgow scotland united kingdom,1 month ago,7.0,\n as a data engineer / machine l...,uk,scientist
1,data analyst support scientist – remote genomi...,hireresources,santa ana ca,3 days ago,5.0,\none of our valued clients a leading and grow...,usa,scientist
2,data scientist remote,yelp,glasgow scotland united kingdom,4 days ago,116.0,\n at yelp it’s our mission to co...,uk,scientist
3,data scientist - growth,spotify,london england united kingdom,2 weeks ago,NaN,\n the freemium r&d team oversees...,uk,scientist
4,data scientist - growth strategy,spotify,london england united kingdom,2 weeks ago,NaN,\n are you a talented data scient...,uk,scientist

Let's get an overview of our new data frame.

In [24]:
df.describe(include='all')

,job_title,company_name,location,date_posted,applicant_count,job_description_lines,country,job
count,593,593,593,593,480.000000,593,593,593
unique,340,412,161,31,NaN,579,2,2
top,data scientist,dice,united states,1 month ago,NaN,\nabout vsco\n\nat vsco our mission is to nurt...,usa,scientist
freq,85,50,211,131,NaN,2,499,354
mean,NaN,NaN,NaN,NaN,46.443750,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,48.390558,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,27.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,65.500000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,200.000000,NaN,NaN,NaN

## Adding experience  
Next we will extract experience metioned in the descriptions.   
Most posts mention x years or x years of experience.   
We will find experience and return the digit prior to experience.  
Regex 101 was used to test and find the best and fastest pattern to search.

In [25]:
# Find 'experience' in each 'job_description_lines' and return the digit before 
pattern = re.compile(r"((\d)|(\d )|(few ))([A-Za-z0-9\'`+]+ )([A-Za-z0-9\+]+ )(?:[A-Za-z0-9\+]+ ){0,6}experience")
df['experience'] = df['job_description_lines'].apply(lambda x: re.findall(pattern, x))
df.head()
df['experience']

0                                                     []
1      [(2 , , 2 , , years , of ), (1 , , 1 , , to , ...
2                        [(few , , , few , years , of )]
3                               [(3, 3, , , + , years )]
4                               [(3, 3, , , + , years )]
                             ...
588                             [(3, 3, , , + , years )]
589    [(2, 2, , , + , years ), (2, 2, , , + , years ...
590                             [(2, 2, , , + , years )]
591                           [(3 , , 3 , , or , more )]
592                             [(5, 5, , , + , years )]
Name: experience, Length: 593, dtype: object

Some things to note:
- Most posts ask for experience in years but a few ask for 6 months experience. We will ensure any entry in months is changed to 0 years. 
- few years experience will be taken as 2.
- We will leave just the first digit to make the column numeric.

In [26]:
    
def extract_string(x):
    # If list is empty no numerical reference to experience was found 
    if len(x) == 0:
        return np.nan 
    
   # Loop through list of tuples
    for tuple_x in x:
        # Loop through tuple and strip white space from all strings 
        y = tuple(word.strip() for word in tuple_x)
        # search for months and years in tuples if found break loop
        if ('years' in y) or ('year' in y) or ('yr' in y):
            # Some enteries state a few years this is taken as 2. 
            if y[0] == 'few':
                y = 2
                break
            else:
                y = y[0]
                break
                
        elif ('month' in y) or ('months' in y) or ('months+' in y):
            y = 0
            break
        
        else:
            y = np.nan
    return y

        
        
    
df['experience'] = df['experience'].apply(lambda x: extract_string(x))
df['experience'] = pd.to_numeric(df['experience'],errors='coerce')

df['experience'].unique()

array([nan,  2.,  3.,  5.,  7.,  4.,  1.,  8.,  6.,  0.])

There is a lot of loops to capture all instances of experience. As the dataframe is small there is no problem. Using large dataframes may need a different method.   

Now we will check the values not in the data frame to check if we missed anything.

In [27]:
df['experience'].isna().sum()

284

In [28]:
no_experience = df[df['experience'].isna()].copy()

In [29]:
pattern = re.compile(r"((\d)|(\d )|(few ))([A-Za-z0-9\'`+]+ )([A-Za-z0-9\+]+ )(?:[A-Za-z0-9\+]+ ){0,6}experience")
no_experience['experience'] = no_experience['job_description_lines'].apply(lambda x: re.findall(pattern, x))
no_experience['experience']

0                              []
5                              []
7                              []
8                              []
12                             []
                  ...
579                            []
583                            []
585                            []
587                            []
591    [(3 , , 3 , , or , more )]
Name: experience, Length: 284, dtype: object

Looks like we've caught all instances we can use.  
To double check we search the no experience df to see what results we get for experience.

In [30]:
pattern = re.compile(r"(\w+ ){3}experience")
experienc_check = no_experience['job_description_lines'].apply(lambda x: re.findall(pattern, x))
experienc_check.to_list()

[['and '],
 [],
 [],
 [],
 ['international ', 'of ', 'of ', 'and ', 'backgrounds '],
 ['user ', 'practices ', 'have ', 'engines ', 'actions '],
 ['and ', 'or ', 'commercial ', 'and ', 'industry '],
 ['on ', 'frameworks ', 'datasets ', 'pytorch ', 'pyspark ', 'significant '],
 ['and '],
 ['customer ', 'employee ', 'that '],
 [],
 [],
 ['have '],
 ['prospecting ', 'for ', 'and ', 'your '],
 ['your '],
 ['backgrounds '],
 ['solid ', 'solid ', 'on ', 'good ', 'algorithms ', 'on '],
 ['an ', 'and ', 'professional '],
 [],
 ['cyclesextensive ', 'platformsextensive '],
 [],
 ['an ', 'sciences ', 'sciences ', 'sciences ', 'sciences ', 'wrangling '],
 [],
 ['customer '],
 ['advanced '],
 [],
 ['of '],
 ['building ', 'environmentdod ', 'on '],
 [],
 ['proven ', 'science ', 'personal '],
 ['work '],
 ['on ', 'on '],
 [],
 ['and ', 'relevant ', 'science ', 'insightdemonstrated ', 'on '],
 ['with ', 'product ', 'proven ', 'science ', 'of ', 'personal '],
 ['employee ', 'talent ', 'employee ', 'employee ', 'and '],
 ['and ', 'work ', 'and ', 'work ', 'deployment '],
 ['freemium ', 'for ', 'have ', 'personal '],
 ['program '],
 ['on ', 'on ', 'on '],
 [],
 ['work '],
 [],
 ['on ', 'on '],
 ['equivalent ', 'related ', 'on '],
 ['on '],
 ['work '],
 [],
 ['equivalent ', 'methodprofessional ', 'and '],
 ['equivalent '],
 [],
 ['and ',
  'extensive ',
  'industry ',
  'expertise ',
  'infrastructures ',
  'preferreddemonstrated '],
 ['on ', 'learning ', 'relevant '],
 ['their ', 'through ', 'including '],
 ['space ', 'and '],
 ['strong ', 'on ', 'on '],
 ['datasetsprevious ', 'studioprevious ', 'healthcare '],
 ['freemium ', 'for ', 'scala ', 'and '],
 ['and ', 'demonstrate '],
 ['customer ', 'and '],
 ['analytics ', 'algorithms ', 'employee '],
 ['and ', 'tests ', 'modeling '],
 ['analytics ', 'employee '],
 ['applied '],
 ['of ', 'years ', 'work '],
 ['user '],
 ['and ', 'observation ', 'work '],
 ['development '],
 ['lifecycle '],
 ['goals ', 'no ', 'actuarial ', 'education '],
 ['frictionless '],
 ['science ', 'basehave ', 'smart ', 'shopping '],
 ['consumer ', 'previous ', 'and ', 'similartenured '],
 ['and '],
 ['backgrounds ', 'plusprofessional ', 'educational ', 'and '],
 ['with '],
 ['demonstrable ', 'proven '],
 ['vast ',
  'and ',
  'and ',
  'backgroundstrong ',
  'academiastrong ',
  'datasimulation ',
  'on '],
 ['relevant '],
 ['customer '],
 [],
 ['human ', 'our ', 'sciences ', 'and ', 'way ', 'processes '],
 ['online ', 'sparkprevious ', 'visualization ', 'online '],
 ['human ', 'and '],
 ['an ', 'sciences ', 'sciences ', 'sciences ', 'sciences ', 'wrangling '],
 [],
 ['on '],
 ['client ', 'operationspractical ', 'have ', 'client ', 'smart '],
 ['pricing ', 'relevant ', 'outcomes '],
 [],
 ['first ', 'diverse ', 'work ', 'work ', 'value '],
 ['experience ', 'analytics '],
 ['of ', 'years ', 'years ', 'years ', 'with '],
 [],
 [],
 ['customer ', 'practical ', 'and '],
 ['customer ', 'great ', 'people '],
 ['and '],
 ['strong ', 'on ', 'clearancepreferred '],
 ['technical ',
  'demonstrated ',
  'demonstrated ',
  'demonstrated ',
  'demonstrated ',
  'demonstrated ',
  'demonstrated ',
  'demonstrated ',
  'demonstrated ',
  'demonstrated ',
  'and ',
  'and '],
 [],
 ['with ', 'extensive '],
 ['equivalent '],
 ['with '],
 ['objectives ',
  'applications ',
  'improvement ',
  'others ',
  'and ',
  'industries ',
  'docker '],
 [],
 ['patient '],
 [],
 [],
 [],
 ['an ', 'security '],
 ['of ', 'practical '],
 [],
 ['of '],
 [],
 ['data ', 'of ', 'services '],
 ['to '],
 ['customer '],
 ['years ', 'and ', 'of '],
 ['and ', 'and '],
 ['industry ', 'and '],
 ['customer ', 'industry ', 'of '],
 [],
 ['product ', 'your '],
 ['management ', 'and ', 'work '],
 ['finance ', 'had '],
 [],
 ['goals ', 'no ', 'actuarial ', 'education '],
 [],
 ['and ',
  'personalized ',
  'with ',
  'practical ',
  'work ',
  'of ',
  'of ',
  'of ',
  'of ',
  'of ',
  'of ',
  'of ',
  'professional '],
 ['have ', 'digital ', 'equivalent ', 'equivalent ', 'tools ', 'and '],
 [],
 ['and ', 'environment ', 'and '],
 ['job ', 'years ', 'bank '],
 [],
 ['developer '],
 ['strong ', 'work '],
 ['of ', 'into ', 'of ', 'of ', 'digital ', 'customer '],
 ['and '],
 ['with ', 'user '],
 ['on ', 'visualizationsolid ', 'relevant ', 'years ', 'work '],
 ['strong '],
 [],
 ['security '],
 ['tools '],
 [],
 ['analytical '],
 ['digital '],
 ['digital '],
 ['and ', 'life ', 'an ', 'better ', 'relevant ', 'and ', 'be '],
 ['digital '],
 ['digital '],
 ['and ', 'databasescoding ', 'skillsdemonstrable '],
 ['professional '],
 ['an ', 'with '],
 ['an ', 'equivalent ', 'skills '],
 ['demonstrable '],
 ['digital '],
 ['equivalent ', 'data '],
 ['customer ', 'and '],
 ['are '],
 ['commercial ', 'equitable '],
 ['class ', 'work '],
 ['the ', 'digital ', 'customer ', 'user ', 'substantial '],
 ['broadband '],
 ['players '],
 ['strong ', 'some ', 'working ', 'your ', 'past '],
 [],
 ['user '],
 ['be ', 'and '],
 ['experience ', 'quality ', 'insurance '],
 ['rewarding '],
 [],
 ['data '],
 ['evidenced '],
 [],
 ['work ', 'of ', 'ability '],
 ['and '],
 ['analogous ', 'demonstrable '],
 [],
 [],
 ['and ', 'have '],
 [],
 [],
 ['have ', 'has ', 'has '],
 ['relevant ', 'backgrounds ', 'extensive '],
 ['have ', 'an ', 'significant ', 'candidate '],
 [],
 ['and '],
 ['years ', 'with '],
 ['sqldemonstrable '],
 ['previous ', 'tableausql '],
 ['gain '],
 [],
 [],
 ['exceptional '],
 ['with ', 'an '],
 ['an ', 'extensive ', 'have ', 'and '],
 [],
 ['work '],
 ['work '],
 [],
 ['an ', 'equivalent '],
 ['work ', 'applicable '],
 ['and ', 'related '],
 [],
 [],
 [],
 ['relevant ', 'or '],
 ['digital '],
 ['sciences ', 'prior ', 'some '],
 [],
 [],
 [],
 [],
 ['digital '],
 ['databases '],
 [],
 ['of ', 'on ', 'r '],
 ['work ', 'years '],
 ['technology '],
 ['ux ', 'and '],
 ['troubleshooting ', 'and '],
 ['digital '],
 ['and '],
 ['skills '],
 ['eib '],
 ['sas ', 'of ', 'care ', 'and '],
 [],
 ['online '],
 [],
 ['have ', 'and ', 'on '],
 [],
 ['operations ', 'of '],
 ['benefits ',
  'user ',
  'have ',
  'have ',
  'and ',
  'practical ',
  'have ',
  'industry ',
  'and '],
 ['digital '],
 ['extensive ', 'warehousing ', 'management '],
 ['more ', 'work '],
 ['with ', 'human ', 'have '],
 ['clientsprevious '],
 ['and '],
 [],
 [],
 [],
 ['and '],
 [],
 [],
 [],
 [],
 [],
 ['on '],
 ['employee ', 'talent ', 'employee ', 'employee ', 'and '],
 ['development '],
 ['parks ', 'guest '],
 ['installation ', 'equivalent '],
 [],
 [],
 ['of '],
 [],
 ['finance ', 'had '],
 [],
 ['job ', 'on '],
 ['candidate '],
 ['an ', 'and '],
 [],
 ['will ', 'skillsideally ', 'awshealthcare '],
 ['and '],
 ['industry '],
 ['with '],
 ['and ', 'development ', 'and '],
 ['best ', 'any '],
 [],
 ['some ', 'work '],
 ['relevant ', 'or '],
 [],
 ['an ', 'work ', 'on '],
 [],
 [],
 ['digital '],
 [],
 ['data '],
 [],
 ['data '],
 ['of ']]

All entries relate to experience of skills which will be picked up when we look at key words.

In [31]:
df.to_csv(config.WRANGLED_DATA_FILE, index=False)